@import 'variables';
@import 'mixin';

body {
  background-color: $black;
  font-family: serif;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  background-color: $black;
  z-index: 5;
  // position: relative;

  &__img {
    width: 50px;
    padding-left: 30px;
  }

  &__list {
    display: flex;
    margin-left: 50px;

    a {
      text-decoration: none;
      padding-right: 40px;
      color: $white;
    }
  }

  &__menu {
    color: $white;
    position: absolute;
    right: 50px;
  }
}

%transition_all_03s {
    transition:all .3s ease;
  }
  %backface_visibility_hidden{
    backface-visibility:hidden;
    -webkit-backface-visibility:hidden;
  }
  
  *, *:before, *:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  .swiper-container {
    // background-image: url(/img/federer2.jpg);
    // background-repeat: no-repeat;
    // background-size: cover;
    
    width: 100%;
    height: 50vw;
    transition:opacity .6s ease;
    &.swiper-container-coverflow{
      padding-top:5%;
    }
    &.loading{
      opacity:0;
      visibility:hidden;
    }
    &:hover{
      .swiper-button-prev,
      .swiper-button-next{
        transform:translateX(0);
        opacity:1;
        visibility:visible;
      }
    }
  }
  .swiper-wrapper{
  
  }
  .swiper-slide{
    background-position:center;
    background-size:cover;
    .slide-inner{
      
    }
    .entity-img{
      display:none;
    }
    .content{
      position:absolute;
      top:40%;
      left:0;
      width:50%;
      padding-left:5%;
      color:$white;
      .title{
        font-size:2.6em;
        font-weight:bold;
        margin-bottom:30px;
      }
      .caption{
        display:block;
        font-size:13px;
        line-height:1.4;
      }
    }
  }
  [class^="swiper-button-"]{
    width:44px;
    opacity:0;
    visibility:hidden;
    @extend %transition_all_03s;
  }
  .swiper-button-prev{
    transform:translateX(50px);
  }
  .swiper-button-next{
    transform:translateX(-50px);
  }
  .swiper-container-horizontal{
    >.swiper-pagination-bullets{
      .swiper-pagination-bullet{
        margin:0 9px;
        position:relative;
        width:12px;
        height:12px;
        background-color:$white;
        opacity:.4;
        @extend %transition_all_03s;
        &::before{
          content:'';
          position:absolute;
          top:50%;
          left:50%;
          width:18px;
          height:18px;
          transform:translate(-50%, -50%);
          border:0px solid $white;
          border-radius:50%;
          @extend %transition_all_03s;
        }
        &:hover,
        &.swiper-pagination-bullet-active{
          opacity:1;
        }
        &.swiper-pagination-bullet-active{
          &::before{
            border-width:1px;
          }
        }
      }
    }
  }
  
  // Mediaqueries
  @media(max-width:1180px){
    .swiper-slide{
      .content{
        .title{
          font-size:25px;
        }
        .caption{
          font-size:12px;
        }
      }
    }
  }
  @media(max-width:1023px){
    .swiper-container {
      height:100vw;
      &.swiper-container-coverflow{
        padding-top:0;
      }
    }
  }

  .footer {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
  
    &__end {
      color: white;
      font-size: 13px;
      padding-top: 10px;
    }
  }